<div class="edit-code">
  <p>To make changes to the document, do the following:</p>
  <ul>
    <li>Click the button below to edit the page you were just on.</li>
    <li>Click Commit Changes at the bottom of the screen to create a copy of our site in your GitHub account called a fork.</li>
    <li>You can make other changes in your fork after it is created, if you want.</li>
    <li>On the index page, click New Pull Request to let us know about it.</li>
  </ul>

  <div class="links">
    <a href="{{ $.Site.Params.github }}" class="button small primary expand edit-btn">
      Edit
    </a>
  </div>
  <div class="links">
    <a href="{{ $.Site.Params.github }}" class="button small primary expand show-btn">
      View
    </a>
  </div>
</div>
